.products {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product_img {
    width: 100px;
    margin-left: 30px;
}

.category_img {
    width: 100px;
    margin-left: 45px;
}